
  .section {
    width: full;
    height: 150vh;
    padding-top: 4rem;
    border: 2px solid red;
  }

  @media (min-width: 901px) {
    .section {
      height: 100vh;
    }
  }

 
  .section::before,.section::after {
    content: '';
    position: absolute;
    background-color: black ;
    z-index: -1;
    opacity:0.8;
  }
  .section::before {
    background: var(--third-glow);
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    margin-left: -200px;
    filter:blur(90px);  
    top: calc(50vh - 50vw/2);
    left: calc(50vw );
  }

  @media (min-width: 900px) {
    .section::after {
      background: var(--secondary-glow);
      border-radius: 50%;
      width: 500px;
      height: 700px;
      filter:blur(90px);
      top: calc(50vh - 50vw/2);
      left: calc(50vw - 50vw/2);
    }
  }
  
  .section::after {
    background: var(--secondary-glow);
    border-radius: 50%;
    width: 50vw;
    height: 70vh;
    filter:blur(90px);
    top: calc(50vh - 50vw/2);
    left: calc(50vw - 50vw/2);
  }
  
  @keyframes animateBefore {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(200px) scale(0.8);
  
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes animateAfter{
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-250px) scale(1.2);
  
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .section::before {
    /*...previous props*/
    animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  }
  
  .section::after {
    /*...previous props*/
    animation: animateAfter 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  }
  
